  <!-- Intro settings -->
  <style>
    /* Default height for small devices */
    #intro-home {
        height: 700px;
      }
  
      /* Height for devices larger than 992px */
      @media (min-width: 992px) {
        #intro-home {
          height: 937px;
        }
      }
  </style>
  <!-- Background image -->
  <div
    id="intro-home"
    class="p-5 text-center bg-image"
  >
    <div class="mask" >
      <div class="d-flex justify-content-center align-items-center h-100">
        <div class="text-white">
          <h1 class="mb-3 h0" translate>home.title</h1><br>
          <h5 class="mb-4 " translate>home.sub_title</h5>
              <!-- <h1 class="h0">Test me !</h1>
    <h1>Test me !</h1>
    
    <h2>Test me !</h2>
    <h3>Test me !</h3>
    <h4>Test me !</h4>
    <p class="p1">Test me !</p>
    <p class="p2">Test me !</p>
    <p class="p3">Test me !</p>
    <p class="p4">Test me !</p> -->
            <div class="m-3">
           <input type="text" id="inputSearch" class="form-control form-control-lg" /> 
          </div>
          <button 
            class=" btn bouton-parents btn-light btn-lg m-2"
            role="button"
            rel="nofollow"
            target="_blank" translate>home.button_search <i class="fa-solid fa-magnifying-glass fa-lg" style="color: #000000;"></i></button>
        </div>
      </div>
    </div>
  </div>
  <!-- Background image -->
