<div class="row justify-content-around  mb-3  marginTop">
    <div class="col col-xl-10 marge_top_titre_favoris " id="favoris">
        <h1 *ngIf="nation; else allouTypeTanksTitle">
            Nation : {{nation.name}}
           </h1>
                <ng-template #allouTypeTanksTitle>
                    <h1 *ngIf="typeTank else allTanksTitle">
                        Type: {{ typeTank.name }}</h1>
                        <ng-template #allTanksTitle>
                            <h1>All the tanks in our library :</h1>
                        </ng-template>
                </ng-template>
                   
        <div class="divider-1 mb-3 "></div>
    </div>
<div class="row justify-content-around marginBot">
    <div class="col-10">
        <div class="table-responsive-sm">
            <table class="table table-dark table-striped align-middle text-center" >
                <caption class=""><i class="fa-solid fa-circle-info fa-flip " style="color: #c5452e;"></i> 
                    FOUND   <span class="h4 mx-2">{{counter}}</span>  Tanks!
                </caption>
                    <thead class="h4">
                      <tr >
                          <th>Nation</th>
                          <th class="" translate>Type</th>
                          <th class="" translate>Image</th>
                          <th class="th_special" translate>Tank name</th>
                          <th >Role</th>
                          <th >Created</th>
                          <th >Description</th>
                          <th><!--btn retirer--></th>
                      </tr>
                    </thead>
                        <tbody class="p1" *ngIf="nation; else typeTankTable">
                               <tr *ngFor="let tank of nation.tanks">
                                    <td class="w-20">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\usa_small.png" alt="test"style="width: 40px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            {{tank.typeID}}
                                        </a>
                                   </td>
                                   <td class="">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                            </a>
                                        </div>
                                    </td>
                                   <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            {{tank.name}}
                                        </a>
                                    </td>
                                   <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                         {{tank.strategicRoleId}}
                                        </a>
                                   </td>
                                   <td>
                                        <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                        <ng-template #topSecret> 
                                            <img src="assets\image\topSecret.png" class="w-75">
                                        </ng-template>
                                    </td>
                                   <td class="text-start">{{ tank.description | slice:0:250}}
                                        <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                            <a [routerLink]="['', tank.id]">Lire plus...</a>
                                        </span>
                                   </td>
                                   <td class="td_special">
                                      <!-- Button trigger modal -->
                                        <button translate type="button" class="btn btn-danger " >
                                            test &nbsp; <i class="fa-solid fa-trash fa-sm"></i>
                                        </button>
                                   </td>
                                </tr>                
                        </tbody>
                        <ng-template #typeTankTable> 
                            <tbody class="p1" *ngIf="typeTank else allTanksTitle">
                                <tr *ngFor="let tank of typeTank?.tanks">
                                    <td class="w-20">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\usa_small.png" alt="test"style="width: 40px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            {{tank.typeID}}
                                        </a>
                                    </td>
                                    <td class="">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            {{tank.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            {{tank.strategicRoleId}}
                                        </a>
                                    </td>
                                    <td>
                                        <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                        <ng-template #topSecret> 
                                            <img src="assets\image\topSecret.png" class="w-75">
                                        </ng-template>
                                        
                                    </td>
                                    <td class="text-start">{{ tank.description | slice:0:250}}
                                        <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                            <a [routerLink]="['', tank.id]">Lire plus...</a>
                                        </span>
                                    </td>
                                    <td class="td_special">
                                    <!-- Button trigger modal -->
                                        <button translate type="button" class="btn btn-danger " >
                                            test &nbsp; <i class="fa-solid fa-trash fa-sm"></i>
                                        </button>
                                    </td>
                                </tr>                
                            </tbody> 
                            <ng-template #allTanksTitle> 
                                <tbody class="p1">
                                    <tr *ngFor="let tank of allTanks">
                                        <td class="w-20">
                                            <div class="">
                                                <a [routerLink]="['', tank.id]">
                                                    <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                    <img src="assets\image\usa_small.png" alt="test"style="width: 40px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a [routerLink]="['', tank.id]" class="">
                                                {{tank.typeID}}
                                            </a>
                                        </td>
                                        <td class="">
                                            <div class="">
                                                <a [routerLink]="['', tank.id]">
                                                    <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                    <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a [routerLink]="['', tank.id]" class="">
                                                {{tank.name}}
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['', tank.id]" class="">
                                                {{tank.strategicRoleId}}
                                            </a>
                                        </td>
                                        <td>
                                            <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                            <ng-template #topSecret> 
                                                <img src="assets\image\topSecret.png" class="w-75">
                                            </ng-template>
                                        </td>
                                        <td class="text-start">{{ tank.description | slice:0:250}}
                                            <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                                <a [routerLink]="['', tank.id]">Lire plus...</a>
                                            </span>
                                        </td>
                                        <td class="td_special">
                                        <!-- Button trigger modal -->
                                            <button translate type="button" class="btn btn-danger " >
                                                test &nbsp; <i class="fa-solid fa-trash fa-sm"></i>
                                            </button>
                                        </td>
                                    </tr>                
                                </tbody> 
                            </ng-template>
                        </ng-template>
            
            </table>
        </div>   
    </div>
</div>