<div class="row justify-content-around  mb-3  marginTop">
    <div class="col col-xl-10 marge_top_titre_favoris " id="favoris">
        <h1 class="d-inline" *ngIf="listOfTanksNation.length>0; else allTanksTypeTanks">
            Nation : {{listOfTanksNation[0].nation?.name}}
           </h1>
                <ng-template #allTanksTypeTanks>
                    <h1 class="d-inline" *ngIf="listOfTanksType.length>0 else allTanksTitle">
                        Type : {{ listOfTanksType[0].typeTank?.name }}</h1>
                        <ng-template #allTanksTitle>
                            <h1 class="d-inline" *ngIf="allTanks.length>0 else errorTitle">All the tanks in our library :</h1>
                            <ng-template #errorTitle>
                                <h1 class="d-inline">Tanks :</h1>
                            </ng-template>
                        </ng-template>
                </ng-template>

                <!--triggerModalCreate-->
                <a href="" class="mx-3" data-mdb-toggle="modal" data-mdb-target="#creatTankModal">
                    <i class="fa-solid fa-circle-plus fa-2xl" style="color: #3caa3e; vertical-align: 0;"></i></a>      
        <div class="divider-1 mb-3 "></div>
        
         <!-- Modal Create-->
         <form class="pInput" #newTankForm="ngForm" method="post" (ngSubmit)="addNewTank(newTank)">
            <div class="modal fade" id="creatTankModal" tabindex="-1" aria-labelledby="creatTankModalLabel" aria-hidden="true">
               <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
                 <div class="modal-content">
                   <div class="modal-header bg-success bg-gradient">
                     <h5 class="modal-title p1 text-dark" id="creatTankModalLabel">Create tank: <i *ngIf="newTankForm.valid && nationID.value!=0 && typeID.value!=0 && strategicRoleId.value!=0" class="fa-solid fa-circle-check fa-bounce fa-lg" style="color: #d2ebc7;"></i> </h5>
                     <!-- <h5 class="modal-title p1 text-dark" id="creatTankModalLabel">Create tank: <i *ngIf="name.valid && description.valid && nationID.value!=0 && typeID.value!=0 && strategicRoleId.value!=0" class="fa-solid fa-circle-check fa-bounce fa-lg" style="color: #d2ebc7;"></i> </h5> -->
                     <button type="button" class="btn-close mx-2" data-mdb-dismiss="modal" aria-label="Close"></button>
                   </div>
                   <div class="modal-body text-dark">
                     
                       <!-- Name input -->

                       <div class="mb-4">
                         <label class="form-label" for="name">Name*</label>
                         <input type="text" name="name" id="name" class="form-control" required minlength="2" maxlength="25" [(ngModel)]="newTank.name" #name="ngModel"/>
                         <div *ngIf="name.invalid && (name.dirty || name.touched)" class="form-helper p3">Name is required*</div>
                         <div  class="p3" *ngIf="name.errors?.['required']">A tank must have a name</div>
                         <div class="p3" *ngIf="name.errors?.['minlength']">Name must be at least 2 characters long.</div>
                       </div>
                     
                       <!-- description input -->
                       <div class="mb-4">
                         <label class="form-label" for="description">Description*</label>
                         <textarea name="description" id="description" class="form-control" required minlength="10" maxlength="2500" [(ngModel)]="newTank.description" #description="ngModel"></textarea>
                         <div *ngIf="description.invalid && (description.dirty || description.touched)" class="form-helper p3">Description is required*</div>
                         <div  class="p3" *ngIf="description.errors?.['required']">We need description for new tank.</div>
                         <div  class="p3" *ngIf="description.errors?.['minlength']">Description must be at least 10 characters long.</div>
                       </div>  

                       <!-- Year input -->
                       <div class="mb-4">
                         <label class="form-label" for="yearOfCreation">Year of creation</label>
                         <input type="number" name="yearOfCreation" id="yearOfCreation" class="form-control" [(ngModel)]="newTank.yearOfCreation"/>
                       </div>

                     <!--  select list Nation -->
                     <div class="mb-4">
                         <label class="form-label" for="nationID">Nation*</label>
                         <select name="nationID" id="nationID" class="form-select" required [(ngModel)]="newTank.nationID" #nationID="ngModel">
                           <option value="0">-- Select a nation --</option>
                           <option *ngFor="let nation of allNations" [value]="nation.id">{{nation.name}}</option>
                         </select>
                         <div *ngIf="nationID.value==0 && (nationID.dirty || nationID.touched)" class="form-helper p3">Nation is required*</div>
                         <div  class="p3" *ngIf="nationID.value==0">You must choose a nation.</div>
                       </div>

                       <!--  select list Type -->
                       <div class="mb-4">
                         <label class="form-label" for="typeID">Type </label>
                         <select name="typeID" id="typeID" class="form-select" required [(ngModel)]="newTank.typeID" #typeID="ngModel">
                           <option value="0">-- Select a tank type --</option>
                           <option *ngFor="let type of allTypesOfTanks" [value]="type.id">{{type.name}}</option>
                         </select>
                         <div *ngIf="typeID.value==0 && (typeID.dirty || typeID.touched)" class="form-helper p3">Type of tank is required*</div>
                         <div  class="p3" *ngIf="typeID.value==0">You must choose a type of tank.</div>
                       </div>

                         <!--  select list Strategic role -->
                         <div class="mb-4">
                           <label class="form-label" for="strategicRoleId">Strategic role </label>
                           <select name="strategicRoleId" id="strategicRoleId" class="form-select" required [(ngModel)]="newTank.strategicRoleId" #strategicRoleId="ngModel">
                             <option value="0">-- Select the strategic role of the tank --</option>
                             <option *ngFor="let role of allStrategicRoles" [value]="role.id">{{role.name}}</option>
                           </select>
                           <div *ngIf="strategicRoleId.value==0 && (strategicRoleId.dirty || strategicRoleId.touched)" class="form-helper p3">Role is required*</div>
                           <div  class="p3" *ngIf="strategicRoleId.value==0">You must choose a strategic role of tank.</div>
                         </div>
                         
                       <!-- Submit button -->
                   </div>
                   <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                     <button type="button" type="submit" class="btn btn-success pInput" data-mdb-dismiss='modal'
                     [disabled]="newTankForm.invalid || nationID.value==0 || typeID.value==0 || strategicRoleId.value==0" >
                     Create new tank</button>
                   </div>
                   <!-- [disabled]="name.invalid || description.invalid  || nationID.value==0 || typeID.value==0 || strategicRoleId.value==0"  -->
                 </div>
               </div>
             </div>
        </form>
    </div>
<div class="row justify-content-around marginBot">
    <div class="col-10">
        <!--Table Tanks-->
        <div class="table-responsive-sm" *ngIf="counter != 0; else messageSection">
            <table class="table table-dark table-striped align-middle text-center" >
                <caption class=""><i class="fa-solid fa-circle-info fa-flip " style="color: #c5452e;"></i> 
                    Found   <span class="h4 mx-2">{{counter}}</span>  tanks!
                </caption>
                    <thead class="h4">
                      <tr >
                          <th>Nation</th>
                          <th class="" >Type</th>
                          <th class="" >Image</th>
                          <th class="th_special" >Tank name</th>
                          <th >Role</th>
                          <th >Created</th>
                          <th >Description</th>
                          <th><!--btn retirer--></th>
                      </tr>
                    </thead>
                        <tbody class="p1" *ngIf="listOfTanksNation.length>0; else typeTankTable">
                               <tr *ngFor="let tank of listOfTanksNation">
                                    <td class="w-20">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\nation\usa_small.png" alt="test"style="width: 40px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            <img src="assets\image\typeTank\{{tank.typeID}}_type.png" alt="" class="chevron">{{tank.typeID}}
                                        </a>
                                   </td>
                                   <td class="">
                                        <div class="">
                                            <a [routerLink]="['/tank-details/', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                            </a>
                                        </div>
                                    </td>
                                   <td>
                                        <a [routerLink]="['/tank-details/', tank.id]" class="">
                                            {{tank.name}}
                                        </a>
                                    </td>
                                   <td>
                                        <a [routerLink]="['', tank.strategicRoleId ]" class=""*ngIf="tank.strategicRole">
                                         {{tank.strategicRole.name}}
                                        </a>
                                   </td>
                                   <td>
                                        <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                        <ng-template #topSecret> 
                                            <img src="assets\image\topSecret.png" class="w-75">
                                        </ng-template>
                                    </td>
                                   <td class="text-start">{{ tank.description | slice:0:250}}
                                        <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                            <a [routerLink]="['/tank-details/', tank.id]">More...</a>
                                        </span>
                                   </td>
                                   <td class="td_special">
                                    <a type="button" [routerLink]="['/tank-details/', tank.id]" class="" data-mdb-ripple-color="dark">
                                        <i class="fa-solid fa-circle-right fa-2xl"></i>
                                    </a>
                                   </td>
                                </tr>                
                        </tbody>
                        <ng-template #typeTankTable> 
                            <tbody class="p1" *ngIf="listOfTanksType.length>0; else allTanksList">
                                <tr *ngFor="let tank of listOfTanksType">
                                    <td class="w-20">
                                        <div class="">
                                            <a [routerLink]="['', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\nation\usa_small.png" alt="test"style="width: 40px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.id]" class="">
                                            <img src="assets\image\typeTank\{{tank.typeID}}_type.png" alt="" class="chevron">{{tank.typeID}}
                                        </a>
                                    </td>
                                    <td class="">
                                        <div class="">
                                            <a [routerLink]="['/tank-details/', tank.id]">
                                                <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                            </a>
                                        </div>
                                    </td>
                                    <td>
                                        <a [routerLink]="['/tank-details/', tank.id]" class="">
                                            {{tank.name}}
                                        </a>
                                    </td>
                                    <td>
                                        <a [routerLink]="['', tank.strategicRoleId ]" class=""*ngIf="tank.strategicRole">
                                            {{tank.strategicRole.name}}
                                           </a>
                                    </td>
                                    <td>
                                        <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                        <ng-template #topSecret> 
                                            <img src="assets\image\topSecret.png" class="w-75">
                                        </ng-template>
                                        
                                    </td>
                                    <td class="text-start">{{ tank.description | slice:0:250}}
                                        <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                            <a [routerLink]="['/tank-details/', tank.id]">More...</a>
                                        </span>
                                    </td>
                                    <td class="td_special">
                                        <a type="button" [routerLink]="['/tank-details/', tank.id]" class="" data-mdb-ripple-color="dark">
                                            <i class="fa-solid fa-circle-right fa-2xl"></i>
                                        </a>
                                    </td>
                                </tr>                
                            </tbody> 
                            <!--All Tank List-->
                            <ng-template #allTanksList> 
                                <tbody class="p1">
                                    <tr *ngFor="let tank of allTanks">
                                        <td class="w-20">
                                            <div class="">
                                                <a [routerLink]="['', tank.id]">
                                                    <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                    <img src="assets\image\nation\usa_small.png" alt="test"style="width: 40px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a [routerLink]="['', tank.id]" class="">
                                                <img src="assets\image\typeTank\{{tank.typeID}}_type.png" alt="" class="chevron">{{tank.typeID}}
                                            </a>
                                        </td>
                                        <td class="">
                                            <div class="">
                                                <a [routerLink]="['/tank-details/', tank.id]">
                                                    <!-- <img [src]="book.cover ? 'https://covers.openlibrary.org/b/id/' + book.cover + '-M.jpg' : 'assets/image/genericCoverBook.jpg'" alt="{{book.title}}" class="card-img img-fluid shadowStyle rounded-start"> -->
                                                    <img src="assets\image\tanks\T-62A.png" alt="test" style="width: 100px;">
                                                </a>
                                            </div>
                                        </td>
                                        <td>
                                            <a [routerLink]="['/tank-details/', tank.id]" class="">
                                                {{tank.name}}
                                            </a>
                                        </td>
                                        <td>
                                            <a [routerLink]="['', tank.strategicRoleId ]" class=""*ngIf="tank.strategicRole">
                                                {{tank.strategicRole.name}}
                                               </a>
                                        </td>
                                        <td>
                                            <span *ngIf="tank.yearOfCreation else topSecret"> {{tank.yearOfCreation}}</span>
                                            <ng-template #topSecret> 
                                                <img src="assets\image\topSecret.png" class="w-75">
                                            </ng-template>
                                        </td>
                                        <td class="text-start">{{ tank.description | slice:0:250}}
                                            <span *ngIf="tank.description != undefined && tank.description.length > 250">
                                                <a [routerLink]="['/tank-details/', tank.id]">More...</a>
                                            </span>
                                        </td>
                                        <td class="td_special">
                                            <a type="button" [routerLink]="['/tank-details/', tank.id]" class="" data-mdb-ripple-color="dark">
                                                <i class="fa-solid fa-circle-right fa-2xl"></i>
                                            </a>
                                        </td>
                                    </tr>                
                                </tbody> 
                            </ng-template>
                        </ng-template>
            
            </table>
        </div>
        <ng-template #messageSection >
                <div class="text-center " style="margin-top: 200px;"  *ngIf="errorMessage; else loadingPage" >
                  <h2 class="zoom-area h1"><b></b><br>
                    {{errorMessage}}</h2>
                  <button [routerLink]="['/home/']" class="btn btn-dark p1 m-5">Back to home</button>
                </div>
                <ng-template #loadingPage>
                    <div class="text-center " style="margin-top: 200px;">
                        <h2 class="zoom-area h1"><b></b><br>
                            Looking for please wait </h2>
                          <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
                            <span class="visually-hidden">Loading...</span>
                          </div>
                      </div>
                </ng-template>
                
        </ng-template>
    </div>
</div>