/*Importation de polices externes :googleFonts*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;900&display=swap');

/* .col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-auto,
.col-sm-auto,
.col-md-auto,
.col-lg-auto,
.col-xl-auto {
  border: 2px dotted rgb(252, 134, 222);
}

.row {
  border: 1px solid rgb(39, 255, 93);
}   */
/*----------------Style de police-------------*/
 /* H0 Montserrat 48*/
 /* font-family: 'Gabarito', cursive;
font-family: 'Montserrat', sans-serif; */
 .h0 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 48px;
    letter-spacing: 0.02em;
    color: #ffffff;
}

 /* H1 Montserrat 36*/
h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 36px;
    line-height: 44px;
    color: #f7f7f7;
}

 /* H2 Montserrat 34*/
h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    color: #f7f7f7;
}

 /* H3 Montserrat 22*/
h3 {
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: #f7f7f7;
}

/* H2 Montserrat 20*/
h4 {
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #f7f7f7;
    text-decoration: none;
}


/* P1 Montserrat 16 */
.p1, .paginate_button {
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #f7f7f7;
    text-decoration: none;
}

/* P2 Montserrat 14 */
.p2{
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #f7f7f7;
}

/* P3 Montserrat 12 */
.p3{
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #f7f7f7;
}

/* P4 Montserrat 10 */
.p4{
    font-family: 'Gabarito', cursive;
    font-style: normal;
    font-weight: 300;
    font-size: 10px;
    line-height: 12px;
    color: #f7f7f7;

}


/* You can add global styles to this file, and also import other style files */
body {
    background-image: url('assets\image\bg\bg_stone.png');;
    background-size:initial;
    background-position: top;
    background-color: rgb(31, 30, 29);
}
.btn-menu{
    gap: 10px;
    align-items: flex-start;
    display: block;
    padding: 10px 20px;
    position: relative;
    color:#D9D7D8;
    background-color:transparent
}
.btn-menu:hover{
    padding-bottom:6px;
    color: #A19FA6;
    background: 
    linear-gradient(
      to left, 
      rgba(255, 201, 32, 0) 0%, #BF1B39 49.48%, rgba(255, 201, 32, 0) 100%
    )
    bottom 
    left
    no-repeat; 
    background-size:100% 3px ;
}
.btn-menu:active{
    padding-bottom:6px;
    color: #F22248;
    background: 
    linear-gradient(
      to left, 
      rgba(255, 201, 32, 0) 0%, #BF1B39 49.48%, rgba(255, 201, 32, 0) 100%
    )
    bottom 
    left
    no-repeat; 
    background-size:100% 3px ;
}
.chevron{
    width: 30px;
  }
  .divider-1{
    background: linear-gradient(90deg,#F22248 0%,rgba(242,242,242,0) 100% );
    margin-right: 0px;
    width: auto;
    height: 3px; 
    position: relative; 
}